.container
    .jumbotron
        h1 {{pageTitle}}
        p {{welcomeText}}
        div
            img(src='static/img/banner2.jpg', alt='banner.jpg', width=500)
            hr
        div
            a.btn.btn-primary.btn-lg(href='', role='button', ng-click='linkMembers()') Enter