h1.page-header {{pageTitle}}
.container-fluid
    h4 There are {{superheroes.length}} Members ({{activeCount()}} active)
    ul.list-group
        li.list-group-item(ng-repeat='superhero in superheroes')
            span
                a.btn-link(href='', ng-click='openSuperheroDetailsModal(superhero._id)') {{superhero.name}} - {{superhero.alias}}
    a.btn-link(href='', ng-click='linkHome()') Home
div