h1 {{pageTitle}}
h4 {{userStatsMain}} {{userStatsExtra}}
hr
h4 {{addlInfo}}
div
    ul
        li(ng-repeat='superhero in superheroes')
            span
                a(href='', ng-click='viewDetails(superhero._id)') {{superhero.name}} - {{user.alias}}
a(href='', ng-click='linkHome()') Home