<div id="input-container" class="container-fluid">

    <!-- Search box area -->
    <search-box />
</div>
<div id="results-and-filters" class="container-fluid">
  <div class="row">

      <input type="text" placeholder="token" ng-model="downloadToken" />
      <a href="http://localhost:8080/MyGene2/api/external/geneiobio/download/{{downloadToken}}" target="_self" download="YourFile.png"><span class="glyphicon glyphicon-download"></span></a>

      <!-- Sorting / filtering component -->
      <sort-filter />

      <!-- The search results table -->
      <search-results />
    </div>
</div>

<!-- absolutely positioned filtering / feature options on the right  -->
<quick-filter />
