<div id="input-container" class="container-fluid">

    <!-- Search box area -->
    <search-box />
</div>
<div id="results-and-filters" class="container-fluid">
  <div class="row">
      <!-- Sorting / filtering component -->
      <sort-filter />

      <button class="btn btn-primary" ng-click="downloadPlaylist()">download playlist as mp3</button>

      <!-- The search results table -->
      <search-results />
    </div>
</div>

<!-- absolutely positioned filtering / feature options on the right  -->
<quick-filter />
