<div id="hover-popover-details-next">
  <div class="created">{{nextDetails.title}} - {{nextDetails.created | date:'MM-dd-yyyy'}}</div>
  <div class="duration">{{nextDetails.duration}}</div>
  <div class="rating"><small>Rating</small> {{nextDetails.pctLikes | number:2}}</div>
  <div class="view-count"><small>Views</small> {{nextDetails.viewCount}}</div>
  <div class="likes"><small>Likes</small> {{nextDetails.likes}}</div>
  <div class="dislikes"><small>Dislikes</small> {{nextDetails.dislikes}}</div>
</div>
