<div id="hover-popover-details-prev">
  <div class="created">{{prevDetails.title}} - {{prevDetails.created | date:'MM-dd-yyyy'}}</div>
  <div class="duration">{{prevDetails.duration}}</div>
  <div class="rating"><small>Rating</small> {{prevDetails.pctLikes | number:2}}</div>
  <div class="view-count"><small>Views</small> {{prevDetails.viewCount}}</div>
  <div class="likes"><small>Likes</small> {{prevDetails.likes}}</div>
  <div class="dislikes"><small>Dislikes</small> {{prevDetails.dislikes}}</div>
</div>
