<!DOCTYPE html>
<html lang="en" ng-app="youtubeSearchApp">
<head>
    <meta charset="UTF-8">
    <title>Youtube Agent - Sort, Filter, Download, Analyze - Your Ultimate Youtube Search Tool</title>

    <link rel='shortcut icon' type='image/x-icon' href='static/favicon.ico' />

    <meta name="author" content="Lance Fallon">
    <meta name="keywords" content="Youtube, download, videos, sort, filter, mp3, audio, most viewed, popular" />
    <meta name="description" content="YouTubeAgent - Sort, Filter, Optimize, View, and Download YouTube videos. Fully customizable sorting and filtering not available through Youtube.com to allow for optimal searching." />
    <meta name="google-signin-client_id" content="{{clientId}}">

    <!-- bower -->
    <script type="text/javascript" src='bower/jquery/dist/jquery.js'></script>
    <script type="text/javascript" src='bower/bootstrap/dist/js/bootstrap.js'></script>
    <script type="text/javascript" src='bower/angular/angular.js'></script>
    <script type="text/javascript" src='bower/angular-ui-router/release/angular-ui-router.js'></script>
    <script type="text/javascript" src='bower/angular-route/angular-route.js'></script>
    <script type="text/javascript" src='bower/angular-resource/angular-resource.js'></script>
    <script type="text/javascript" src='bower/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='bower/angular-cookies/angular-cookies.js'></script>
    <script type="text/javascript" src='bower/AngularJS-Toaster/toaster.js'></script>
    <script type="text/javascript" src="bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="bower/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>

    <!--app -->
    <script type="text/javascript" src='static/app/app.js'></script>

    <!-- controllers -->
    <script type="text/javascript" src='static/app/controllers/homeController.js'></script>
    <script type="text/javascript" src='static/app/controllers/authHandlerController.js'></script>
    <script type="text/javascript" src='static/app/controllers/playlistModalController.js'></script>
    <script type="text/javascript" src='static/app/controllers/watchlistModalController.js'></script>
    <script type="text/javascript" src='static/app/controllers/managePlaylistModalController.js'></script>
    <script type="text/javascript" src='static/app/controllers/reportModalController.js'></script>
    <script type="text/javascript" src='static/app/controllers/directionsModalController.js'></script>
    <script type="text/javascript" src='static/app/controllers/youtubePlayerModalController.js'></script>

    <!-- directives -->
    <script type="text/javascript" src='static/app/directives/quickFilter.js'></script>
    <script type="text/javascript" src='static/app/directives/searchResults.js'></script>
    <script type="text/javascript" src='static/app/directives/sortFilter.js'></script>
    <script type="text/javascript" src='static/app/directives/searchBox.js'></script>

    <!-- services -->
    <script type="text/javascript" src='static/app/services/timeService.js'></script>
    <script type="text/javascript" src='static/app/services/authService.js'></script>
    <script type="text/javascript" src='static/app/services/playlistService.js'></script>
    <script type="text/javascript" src='static/app/services/countriesService.js'></script>
    <script type="text/javascript" src='static/app/services/directionsService.js'></script>

    <link href="bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower/AngularJS-Toaster/toaster.css" rel="stylesheet" />
    <link href="bower/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" rel="stylesheet" />

    <!-- css -->
    <link href="css/style.css" rel="stylesheet" />

    <base href="/" />

    <!-- Youtube API setup -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78863725-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <a id="title-text" class="navbar-brand" href="#">
          <span id="you">You</span><span id="tube">Tube</span><span id="search"> Agent</span>
          <small>Advanced Youtube search tool for sorting, filtering, downloading, viewing and saving videos</small>
          <span class="site-snippet" popover-placement="bottom-right" uib-popover-template="aboutYoutubeAgent.templateUrl" popover-title="What is YoutubeAgent?" type="button"><span class="glyphicon glyphicon-question-sign" ng-click=""></span>What is this YoutubeAgent nonsense?</span>
        </a>
        <form class="form-inline pull-xs-right">
          <div class="google-button">
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
        </form>
      </nav>


    <div ng-view></div>

    <div class="footer">
      <div class="text-center">Contact | <a href="mailto:fallon.lance@gmail.com">Lance Fallon <span class="glyphicon glyphicon-envelope"></span></a></div>
    </div>
    <toaster-container></toaster-container>

</body>
</html>
