doctype
html(ng-app="nodeAngularDemoApp")
   head
      meta(charset='utf8')
      base(href='/')
      title Node Angular Demo App
      link(type='text/css', rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.css')
      link(type='text/css', rel='stylesheet', href='bower/animate.css/animate.min.css')
   body
      block body
