<!-- QUICK FILTERS / WATCH LIST / BULK PLAYLIST -->
<div id="quick-filter" class="row">

    <!-- Scroll button -->
    <div id="scrollToTopButton" ng-show="searchResults.length > 0" class="col-md-12">
      <button class="btn btn-default" ng-click="scrollToElement('results')"><span class="glyphicon glyphicon-arrow-up"></span>Scroll top</button>
    </div>

    <!-- WATCH LIST -->
    <div id="watchlist" ng-show="watchlist.length > 0" class="col-md-12">
        <button id="watchlist-header" class="btn btn-default" ng-click="openListManagerModal(watchlist, WATCHLIST_MODAL_CTRL, 'watchlistModal.html')">
            <span class="glyphicon glyphicon-eye-open"></span>
            Watchlist ({{watchlist.length}} items)
        </button>
    </div>

    <!-- SELECTED VIDEOS LIST -->
    <div id="save-selected-items" ng-show="selectedVideos.length > 0 && AuthService.isLoggedIn()" class="col-md-12">
        <button ng-disabled="savingToPlaylist" class="btn btn-success" ng-click="openListManagerModal(selectedVideos, BULK_PLAYLIST_MODAL_CTRL, 'bulkPlaylistModal.html')"><span class="glyphicon glyphicon-floppy-disk"></span>Selected videos ({{selectedVideos.length}} videos)</button>
    </div>

    <div class="col-md-12" id="quick-filter-container">
        <div id="quick-filter-title" ng-click="toggleQuickFilter()" title="Wrap multi-word terms in quotes, and negate terms by preceding with bang operator (!)">
            <span class="glyphicon glyphicon-filter"></span>Advanced filter / tools
            <span ng-if="quickFilterVisible" class="glyphicon glyphicon-minus"></span>
            <span ng-if="!quickFilterVisible" class="glyphicon glyphicon-plus"></span>
        </div>
        <div ng-show="quickFilterVisible">

          <div id="selectedChannelsWrapper" ng-show="channelFilter.length > 0 && quickFilterVisible" class="col-md-12 well well-sm">
              <div id="selected-channels-enable-button">
                  <input type="checkbox" name="enableChannelFilter" ng-model="enableChannelFilter" ng-change="filter()"/>
                  <span id="enable-channel-filter-checkbox">Enable Channel Filter</span>
              </div>
              <div class="button-list-item" ng-repeat="channel in channelFilter" ng-click="removeChannelFilter(channel)">
                  {{channel}}<span class="glyphicon glyphicon-remove"></span>
              </div>
          </div>

          <div id="quick-filter-input-container">

            <div class="quick-filter-mode-container" ng-repeat="filter in quickFilterObjects track by $index">
              <div class="remove-one-of-category" ng-show="filter.type===quickFilterType.ONE_OF && hasMultipleOneOfFilters()" ng-click="removeCategory(filter)">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </div>
              <div class="quick-filter-mode-label">{{filter.quickfilterType}}
                <button class="btn btn-sm btn-success" ng-click="addFilterTerm(filter)">
                  <span class="glyphicon glyphicon-plus"></span>Add row
                </button>
                <button ng-show="filter.type===quickFilterType.ONE_OF" class="btn btn-default btn-sm" ng-click="addQuickFilterCategory()">Add category</button>
              </div>
              <div class="quick-filter-item" ng-repeat="termObject in filter.terms">
                <input ng-model="termObject.term" type="text" />
                <div class="remove-quick-filter-item" ng-click="removeFilterTerm(filter.terms, $index)"><span class="glyphicon glyphicon-minus-sign"></span></div>
              </div>
            </div>
            <button class="quick-filter-refresh-button btn btn-default" ng-click="filter()">Refresh<span class="glyphicon glyphicon-refresh"></span></button>
              <!-- <input ng-show="!quickFilterReadonly" type="text" ng-blur="updateQuickFilter(); filter(); quickFilterReadonly = true; scrollToElement('results', true);" class="form-control" ng-model="filterText" placeholder="Filter artist and title."/>
            <div ng-show="quickFilterReadonly" class="readonly-quickfilter" ng-click="quickFilterReadonly = false">
              <span ng-show="quickFilterTerms.length > 0" ng-repeat="term in quickFilterTerms" ng-class="term.negate ? 'quickfilter-negate-term' : 'quickfilter-include-term'">{{term.value}}</span>
              <div id="quick-filter-no-terms-specified" ng-show="quickFilterTerms.length === 0" class="text-center text-danger">
                Click to add additional text filters
              </div>
            </div>
            <div id="filter-type-wrapper" class="btn-group">
                <div id="filter-type-label-wrapper">
                    <label id="quick-filter-all-terms-label" class="filter-type-button btn btn-warning" ng-model="quickFilterType" uib-btn-radio="'0'" ng-click="filter()">All terms</label>
                    <label id="quick-filter-any-term-label" class="filter-type-button btn btn-warning" ng-model="quickFilterType" uib-btn-radio="'1'" ng-click="filter()">Any term</label>
                </div>
            </div> -->
          </div>
        </div>

    </div>
</div>
<!-- (END) QUICK FILTERS -->
