<!-- SEARCH RESULTS -->
<div id="results" class="col-md-7 text-center" ng-show="searchResults.length > 0">

    <!-- List the suggested tags -->
    <div ng-show="tagsArray.length > 0" id="suggested-tags">
        <span class="badge" ng-repeat="tagItem in tagsArray track by $index">{{tagItem.tag}}</span>
    </div>

    <ul class="pagination">
        <li ng-click="previousPage()">
            <a href="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-class="pagination.currentPage === ($index + 1) ? 'active' : ''" ng-repeat="i in getPages() track by $index">
            <a href="" ng-click="gotoPage($index+1)">{{$index+1}}</a>
        </li>
        <li ng-click="nextPage()">
            <a href="" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

    <div class="restore-removed-videos" ng-show="removedVideos.length > 0">
      <button class="btn btn-sm btn-default" ng-click="restoreRemovedItems()">
        <span class="glyphicon glyphicon-share-alt"></span> Restore Removed Videos
      </button>
    </div>

    <div id="toggle-autoplay">
      <toggle-switch
        ng-model="autoplay"
        class="switch-success switch-large"
        knob-label="Autoplay">
      </toggle-switch>
    </div>

    <div id="search-similar-videos" ng-show="filteredResults.length > 0 && !fetching">
      <button class="btn btn-sm btn-success" ng-click="smartSearch()">
        <span class="glyphicon glyphicon-flash"></span> SmartSearch
      </button>
    </div>

    <!-- <button class="btn btn-warn" ng-click="removeLyricalDuplicates()">Lyrics duplicate remover</button> -->

    <!-- <div ng-class="autoplay ? 'toggle-autoplay text-success' : 'toggle-autoplay text-danger'" ng-click="toggleAutoplay()"><span class="glyphicon glyphicon-play-circle"></span>{{autoplay ? 'Autoplay enabled' : 'Autoplay disabled'}}</div> -->

    <table class="table">
        <tbody>
        <tr ng-repeat="video in displayList track by $index">
            <td ng-show="!video.playing" id="{{video.videoId}}">
                <div class="video-image-container" ng-click="stopAllVideos(); playVideo(video, $index, true)" title="{{(video.tags && video.tags.length > 0) ? video.tags.toString() : ''}}">
                    <!-- <div id="video-overlay-text"><span class="glyphicon glyphicon-play"></span></div> -->
                    <img ng-class="{'decrease-opacity' : watched}" src="{{video.thumbnail.url}}" width="250px" class="thumbnail" />
                    <div id="watched-video-overlay" ng-if="hasWatched(video.videoId)" class="text-danger">WATCHED ON YOUTUBE</div>
                </div>
                <div ng-if="!isVideoInList(video, watchlist)" class="add-to-watchlist text-info" ng-click="toggleVideoInList(video, watchlist)"><span class="glyphicon glyphicon-plus"></span>Add to watchlist</div>
                <div ng-if="isVideoInList(video, watchlist)" class="add-to-watchlist text-danger" ng-click="toggleVideoInList(video, watchlist)"><span class="glyphicon glyphicon-remove"></span>Remove from watchlist</div>
                <div ng-if="!isVideoInList(video, selectedVideos) && AuthService.isLoggedIn()" class="add-to-multivid-playlist text-success" ng-click="toggleVideoInList(video, selectedVideos)"><span class="glyphicon glyphicon-plus"></span>Add to playlist queue</div>
                <div ng-if="isVideoInList(video, selectedVideos) && AuthService.isLoggedIn()" class="add-to-multivid-playlist text-danger" ng-click="toggleVideoInList(video, selectedVideos)"><span class="glyphicon glyphicon-remove"></span>Remove from queue</div>
                <div class="remove-from-results text-danger" ng-click="removeVideoFromList(video)"><span class="glyphicon glyphicon-remove"></span> Remove from results</div>
            </td>
            <td ng-if="video.playing">
              <youtube-video video-url="getIFrameSrc(video.videoId)" player-vars="youtubePlayerOptions"></youtube-video>
              <div class="stop-video" ng-click="video.playing = false"><span class="glyphicon glyphicon-stop"></span> Stop Video</div>
            </td>
            <td>
                <div class="video-details-container">
                    <a ng-href="{{'https://www.youtube.com/watch?v=' + video.videoId}}" target="_blank" title="{{(video.tags && video.tags.length > 0) ? video.tags.toString() : ''}}">
                        <div class="videoTitle">
                            {{video.title}}
                        </div>
                    </a>
                    <div class="created"><a href="https://www.youtube.com/channel/{{video.channelId}}" target="_blank">{{video.channelTitle}}</a> - {{video.created | date:'MM-dd-yyyy'}}</div>
                    <div class="duration">{{video.duration}}</div>
                    <div ng-class="relevanceClass(video.matchPercentage)">
                      <span ng-show="video.matchPercentage > 40" class="glyphicon glyphicon-ok-circle text-success"></span>
                      {{relevanceText(video.matchPercentage)}}
                    </div>
                    <div class="view-count"><span class="glyphicon glyphicon-eye-open"></span> {{video.viewCount | number}}</div>
                    <div class="likes"><span class="video-rating glyphicon glyphicon-thumbs-up text-success"></span> {{video.likes}}</div>
                    <div class="dislikes"><span class="video-rating glyphicon glyphicon-thumbs-down text-danger"></span> {{video.dislikes}}</div>
                    <div class="rating">
                      <span ng-repeat="i in rating(video.pctLikes) track by $index" class="glyphicon glyphicon-star"></span>
                      <span class="empty-stars"><span ng-repeat="i in rating(video.pctLikes, true) track by $index" class="glyphicon glyphicon-star-empty"></span></span>
                      <span class="rating-value">{{video.pctLikes | number:2}}%</span>
                    </div>
                    <div class="video-buttons row">
                        <div class="col-md-12">
                            <div class="download-mp3"><a class="btn btn-success" ng-show="!video.downloadAudioDisabled" target="_self" href="api/youtube/mp3/{{video.videoId}}/{{video.safeTitle}}" download="{{video.safeTitle + '.mp3'}}" ng-click="disableAudioDownload(video)"><span class="glyphicon glyphicon-music"></span>Download Audio (mp3)</a></div>
                            <div class="download-mp3"><a class="btn btn-success" ng-show="video.downloadAudioDisabled" disabled><span class="glyphicon glyphicon-music"></span>Download Audio (mp3)</a></div>
                        </div>
                        <div class="col-md-12">
                            <div class="download-mp3"><a class="btn btn-success" ng-show="!video.downloadVideoDisabled" target="_self" href="api/youtube/mp4/{{video.videoId}}/{{video.safeTitle}}" download="{{video.safeTitle + '.mp4'}}" ng-click="disableVideoDownload(video)"><span class="glyphicon glyphicon-film"></span>Download Video (mp4)</a></div>
                            <div class="download-mp3"><a class="btn btn-success" ng-show="video.downloadVideoDisabled" disabled><span class="glyphicon glyphicon-film"></span>Download Video (mp4)</a></div>
                        </div>
                        <div class="col-md-12">
                            <div ng-if="AuthService.isLoggedIn()" class="add-playlist-button btn btn-success" ng-click="playlistService.addToPlaylist(video)"><span class="glyphicon glyphicon-plus"></span> Youtube playlist</div>
                        </div>
                    </div>

                    <!--<div id="youtube-members-only" ng-if="AuthService.isLoggedIn()">-->
                    <!--<hr />-->
                    <!--<button type="button" ng-click="addToPlaylist(video)">+ Add to playlist</button>-->
                    <!--</div>-->
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- (END) SEARCH RESULTS -->
