<div class="row">
  <div id="search-mode-btn-wrapper" class="btn-group col-md-12">
      <div id="search-mode-labels-wrapper">
          <label id="search-mode-button" class="btn btn-default" ng-model="searchMode" uib-btn-radio="TEXT_SEARCH" uncheckable ng-click="checkDisablePostFilter()"><span class="glyphicon glyphicon-search"></span>Search by Text</label>
          <label id="popular-search-mode-button" class="btn btn-default" ng-model="searchMode" uib-btn-radio="POPULAR_SEARCH" uncheckable><span class="glyphicon glyphicon-thumbs-up"></span>Popular by Country</label>
          <label id="most-viewed-search-button" class="btn btn-default" ng-model="searchMode" uib-btn-radio="MOST_VIEWED_SEARCH" uncheckable ng-click="mostViewedSearchClick()"><span class="glyphicon glyphicon-star-empty"></span>Most Viewed</label>
          <label id="playlist-search-mode-button" class="btn btn-default" ng-model="searchMode" uib-btn-radio="PLAYLIST_SEARCH" uncheckable><span class="glyphicon glyphicon-list"></span>Playlist or Video Id</label>
      </div>
  </div>

  <div id="textbox-container" class="form-group col-md-6 col-md-offset-3">
      <form ng-show="searchMode !== POPULAR_SEARCH" ng-submit="doSearch()">
          <div class="input-group">
              <input class="form-control" type="text" ng-model="searchParam" ng-attr-placeholder="{{getSearchBoxPlaceholder()}}" autofocus ng-blur="translate(null,true,searchParam)" />
              <div id="searchButton" ng-if="!fetching" class="notta-button input-group-addon" ng-click="doSearch()"><span class="glyphicon glyphicon-search"></span>Search</div>
              <div id="stopButton" ng-if="fetching" class="notta-button input-group-addon" ng-click="interrupt()"><span class="glyphicon glyphicon-stop"></span>Stop</div>
          </div>
      </form>

      <div id="progress-bar-container" ng-if="fetching">
          <uib-progressbar class="progress-striped active" max="100" value="100" type="primary"><i>Fetching results...</i></uib-progressbar>
          <uib-alert class="longer-search-warning" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
      </div>

      <div id="extended-search-progress-bar-container" ng-if="fetching && related && checkRelated">
          <uib-progressbar class="progress-striped active" type="success" animate="true" max="1" value="(nextRelatedInitialLength - nextRelated.length) / nextRelatedInitialLength"><i>{{(100*((nextRelatedInitialLength - nextRelated.length) / nextRelatedInitialLength)).toFixed(0) + '%'}}</i></uib-progressbar>
          <div id="extended-search-progress-label">Extended search started</div>
      </div>

      <div id="results-label-container" class="row" ng-if="searchResults.length > 0">
          <div class="form-group col-md-12 text-center">
              <div id="search-results-header">
                  Total results: <span id="totalResults">{{searchResults.length}}</span><br />
                  <span class="filtered-results">Filtered results: {{filteredResults.length}}</span>
              </div>
              <div id="reset-results" class="btn btn-danger" ng-click="reset()"><span class="glyphicon glyphicon-retweet"></span> Reset results</div>
              <div ng-show="!fetching" id="open-report-button" class="btn btn-primary" ng-click="openReportModal()"><span class="glyphicon glyphicon-list-alt"></span> Search Results Summary</div>
              <div class="btn btn-warning" id="download-json-results" ng-if="!safari && !isMobile && searchResults.length > 0 && blob && !fetching"><a ng-href="" ng-click="saveJson()"><span class="glyphicon glyphicon-download"></span> Download results as json</a></div>
              <div class="btn btn-warning" disabled id="download-json-results" ng-if="safari && searchResults.length > 0 && blob && !fetching"><a ng-href="{{saveUrl}}" download="{{saveName}}"><span class="glyphicon glyphicon-download"></span> Use chrome or firefox to enable</a></div>
              <div id="regenerate-json" class="text-info" ng-if="!safari && !isMobile && searchResults.length > 0 && blob && !fetching" ng-click="setSaveUrl()">JSON link not working? Click to refresh</div>
          </div>
      </div>
      <div ng-show="searchMode === POPULAR_SEARCH" id="search-popular-wrapper" class="row">
          <div id="countries-dropdown-wrapper" class="col-md-6">
              <select id="countries-list" name="countries" class="form-control"
                      ng-model="selectedCountry"
                      ng-options="country.name for country in countries"
                      ng-change="updateCategories()"
                      placeholder="Select a country">
                  <option value="">Select a country</option>
              </select>
          </div>
          <div id="categories-dropdown-wrapper" class="col-md-6">
              <select id="categories-list" name="categories" class="form-control"
                      ng-model="selectedCategory"
                      ng-options="category as category.snippet.title for category in videoCategories">
              </select>
          </div>
          <div id="search-popular-button-wrapper" class="col-md-12">
              <div ng-if="!fetching" class="btn btn-default btn-lg" ng-click="searchPopular()"><span class="glyphicon glyphicon-search"></span>Perform search</div>
              <div ng-if="fetching" class="btn btn-danger btn-lg" ng-click="interrupt()"><span class="glyphicon glyphicon-stop"></span>Stop</div>
          </div>
      </div>

      <div ng-show="AuthService.getAuthorizedPlaylists().length > 0 && !fetching && !pendingGoogleActivation">
        <button class="btn btn-default btn-md" id="show-user-playlist-button" ng-click="showAccountPlaylists = true" ng-show="!showAccountPlaylists">Click to select one of your playlists</button>
        <div id="user-playlist-wrapper" ng-show="showAccountPlaylists" class="alert alert-warning">
          <label for="userplaylists">Logged in as <span class="logged-in-highlight">{{AuthService.getName()}}</span>. Load videos from one your playlists</label>
          <select id="user-playlists-dropdown" name="userplaylists"
                  ng-model="userPlaylist.selectedPlaylist"
                  ng-options="playlist.name for playlist in AuthService.getAuthorizedPlaylists()"
                  placeholder="Select an account playlist">
                  <option value="">Select a playlist</option>
          </select>
          <button class="btn btn-default btn-md" ng-click="loadUserPlaylist()">Load Playlist</button>
        </div>
        <button class="btn btn-default btn-md" id="hide-account-playlists" ng-show="showAccountPlaylists" ng-click="showAccountPlaylists = false">Hide</button>
      </div>

      <div id="connect-with-google" ng-show="AuthService.isLoggedIn() && AuthService.getPendingGoogleActivation()">
          <div ng-click="AuthService.connectWithGoogle()" class="btn btn-danger">
              <span class="glyphicon glyphicon-user"></span>Connect YoutubeAgent With Google Account
          </div>
          <div class="btn-link text-info" ng-click="showCrapInstructions = !showCrapInstructions">{{showCrapInstructions ? 'Hide instructions' : 'If Google is failing to connect the app, please click here'}}</div>
            <div ng-show="showCrapInstructions" id="connect-text-extra">If you are seeing this button after connecting your account, please click the google-signin button (upper-right) and refreshing the page to update your account.  If you continue having issues, there is a bug in google's signin system that occurs when you are logged into multiple google accounts. Please sign out / remove your accounts, and then come back to YoutubeAgent and give the signin / connect another shot.</div>
          </div>
      </div>


      <div id="toggleMap" ng-click="mapVisible = !mapVisible">
        {{mapVisible ? '[ Hide Controls - ]' : '[ Show Map/Region Controls + ]'}}
      </div>
      <div ng-show="mapVisible">
        <div class="translate-text">
          <!-- <div class="language-dropdown">
              <select id="categories-list-text-search" name="languages"
                      ng-model="lang.fromLanguage"
                      ng-options="lang as lang.displayName for lang in languages">
              </select>
          </div> -->
          <div class="language-dropdown">
              <select id="categories-list-text-search" name="languages"
                      ng-model="lang.toLanguage"
                      ng-options="lang as lang.snippet.name for lang in languages">
              </select>
          </div>
          <label for="translate" title="translate text to specified language as you type">
            <input class="translate-checkbox" type="checkbox" ng-model="shouldTranslate" />
            Live Text Translate
          </label>
          &nbsp;
          <label for="location-search" title="Add a filter to search videos in specified region">
            <input class="location-checkbox" type="checkbox" ng-model="searchLocation" />
            Search By Location
          </label>
        </div>

        <div id="map-selector">
          <div ng-if="searchLocation" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyDE3EI_Yy2IKmN7aL0tVug3w-sR1tVnGwY"
            map-lazy-load-params="{{googleMapsUrl.url}}">
            <ng-map center="41,-87" max-zoom="3" min-zoom="3" zoom="3" on-click="mapClick(evt)">
              <marker class="custom-marker" ng-show="pos.lat" position="{{pos.lat}}, {{pos.lng}}"
              icon="{{iconOptions}}"></marker>
            </ng-map>
          </div>
          <div ng-show="searchLocation">
              <rzslider rz-slider-model="locationRadius" rz-slider-options="{floor: 250, ceil: 1200, onChange: updateScale()}"></rzslider>
          </div>
        </div>
      </div>

  </div>
</div>
