html
   body
      .row
         .modal-header
            h4 {{superhero.name}} {{superhero.alias}}
               small (Active:{{superhero.isActive}})
               span.btn.btn-link(ng-click='showSuperheroDetailsPage(superhero.alias)') Click to view profile
         .modal-body
            .modal-content
               img(ng-src='{{superhero.picture}}', alt='superheroImage.jpg', width=300)
               div
                  small {{superhero.about}}
         .modal-footer
            button.btn.btn-default(ng-click='ok()') Close

